.app-container, .game-container{
    text-align: center;
    height: 100vh;
    width: 100vw;
    /* margin: 0%; */
}

h1 {
    margin: 4%;
}
.buttons{
    background-color: rgba(212, 136, 13, 0.9);
}

.selections{
    display: flex;
    justify-content: space-evenly;
    height: 20em;
}
.selection{
    padding: 10%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center; 
    color: white;
}

.selection-info{
    margin: 0%;
    font-size: 0.6em;
    display: flex;
    /* display: none; */
    flex-grow: 1;
}
.selection span {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-grow: 2;
    font-size: 2em;
}
.selection:hover{
    color:white; 
    background-color: rgba(212, 136, 13, 0.5);
}
#get-started{
    /* background-color: black; */
    width: 100%;
    color: white;
    background-color: rgba(212, 136, 13, 0.5);
}

.game-container-container{
    /* margin-top: 8%; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;; 
    width: 85%;
    height: 85%;
    background-color: rgba(13, 44, 84, 0.7);
    color: white;
    margin: auto;
    text-align: center;
    flex-direction: column;
}
.score-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* align-items: flex-start; */
    align-items: center;
    height: 30%;
}
.game-play-container{
    display: flex;
    justify-content: space-around;
    align-items:baseline;
    width: 100%;
    height: 70%;
}

.play-game-button{
    background-color: #7fb800;
    text-align: center;
    display: flex;
    flex-grow: 1;
    margin: 5%;
    justify-content: center;
}

.player-name{
    background-color: #7fb800;
    font-size: 2em;
    /* width: 100%; */
    display: flex;
    color: black;
    justify-content: center;
}
.player1-container{
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    text-align: center;
    width: 40%;
}

.player2-container{
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    width: 40%;
}

#p1-name-input, #p2-name-input {
    text-align: center;
    border-color: transparent;
}

.weapon-container img{
    background-color: transparent;
    width: 100%;
    color: white;
}

.weapon-container button{
    width: 35%;
    background-color: transparent;
    border-width: 0px;
}

.weapon-container button:hover{
    background-color: #7fb800;
}

.simulation{
    width: 3em;
}

.player1-container .weapon-container{
    /* border-color: transparent; */
    /* border-width: 3px; */
    /* border: 2px solid transparent; */
    display: flex;
    justify-content: center;
}
.player2-container.weapon-container{
    display: flex;
    align-items: flex-start;
}
.api-icon.btn{
    width: 30%;
    padding: 0%;
    margin: 5%;
}

#weapon-intro{
    padding: 0%;
    margin-bottom: 0%;
    padding-top: 10%;
}

#api-weapon-intro{
    margin: 0%;
    padding-top: 10%;
}