.app-container{
    text-align: center;
    height: 100vh;
    width: 100vw;
}

h1 {
    margin: 4%;
}
.buttons{
    background-color: rgba(212, 136, 13, 0.9);
}

.selections{
    display: flex;
    justify-content: space-evenly;
    height: 20em;
}
.selection{
    padding: 10%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center; 
    color: white;
}
/* .active{
    background-color: rgba(212, 136, 13, 0.6);
} */
.selection-info{
    margin: 0%;
    font-size: 0.6em;
    display: flex;
    /* display: none; */
    flex-grow: 1;
}
.selection span {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-grow: 2;
    font-size: 2em;
}
.selection:hover{
    color:white; 
    background-color: rgba(212, 136, 13, 0.5);
}
#get-started{
    /* background-color: black; */
    width: 100%;
    color: white;
    background-color: rgba(212, 136, 13, 0.5);
}

.game-container{
    margin-top: 8%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;; 
    width: 75%;
    height: 75%;
    background-color: #0d2c54;
    color: white;
}

.play-game-button{
    background-color: #7fb800;
    text-align: center;
    margin-top: 50%;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}